<% users.each do |user| %>
    <div class ="row">
        <div class="col-md-8 col-md-offset-2">
            <div class = "well">
                <h4><%= link_to user.name, user_path(user) %></h4>
            </div>
        </div>
    </div>
<%end%>