 <!DOCTYPE html>
<html>
<head>
<title>Mioder</title>
</head>
<body>
  <div class="center jumbotron">
    <h1>Mioder</h1>
    <h3>Zamów miodek do Warszawy :)</h3>
    <p><%=link_to "Załóż konto", signup_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</body>
</html> 