 <!DOCTYPE html>
<html>
<head>
<title>Mioder</title>
</head>
<body>
  <div class="center jumbotron">
    <h1>Mioder</h1>
    <h3>Zamów miodek do Warszawy :)</h3>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Załóż konto</a></p>
  </div>
</body>
</html> 