<% products.each do |product| %>
    <div class ="row">
        <div class="col-md-8 col-md-offset-2">
            <div class = "well">
                <h4><%= link_to product.name, product_path(product) %></h4>
                Cena: <%= product.price %> zł | Wielkość Opakowania: <%= product.volume %> | Dostępność: <%= product.availability %>
            </div>
        </div>
    </div>
<%end%>