<% products.each do |product| %>
    <div class ="row">
        <div class="col-md-8 col-md-offset-2">
            <div class = "well">
                <%= product.name %>
            </div>
        </div>
    </div>
<%end%>